<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style lang="css">
        .a{
            position:relative;
            
        }
        .a-1{
            position:relative;
            width:6px;
            height:5px;
        }
        .a-2{
            position:relative;
            width:6px;
            height:5px;
        }
    </style>
</head>
<body>
    <div class="a">
        <div class="a-1">1</div>
        <div class="a-2">2</div>
    </div>
</body>
</html>